.field-widget-entityreference-view-widget .ervw-add-items {
  margin-top: 10px;
}
table.error {
  border: 2px solid red;
}
#modal-content .views-table tr {
  cursor: pointer;
}

.ervw--modal {
  max-width: 90%;
  margin-inline: 5%;

  @media (min-width: 62em) {
    max-width: max(80%, 960px);
    margin-inline: max(10%, 30px);
  }
}
